/* Menubar style */
.Header-old {
    border-bottom: 1px solid #E5E5E5 !important;
    background-color: #F5F5F5 !important;
}

/* Menubar logo styles */
.Header-old .octicon {
    color: #555 !important;
}

.Header-old a:hover .octicon, .Header-old a:hover .octicon {
    color: #4078C0 !important;
}

/* Menubar link styles */
.Header-old .HeaderNavlink, .Header-old .HeaderNavlink a, .Header-old .Header-link {
    color: #555 !important;
}

.Header-old .HeaderNavlink:hover, .Header-old .HeaderNavlink:focus, .Header-old .Header-link:hover {
    color: #4078C0 !important;
}

.Header-old .HeaderNavlink a:hover, .Header-old .HeaderNavlink a:focus, .Header-old .Header-link:focus {
    color: #4078C0 !important;
}

/* Not logged in menubar link style */
.Header-old .HeaderMenu .HeaderMenu-link {
    color: #555 !important;
}

.Header-old .HeaderMenu .HeaderMenu-link:hover, .Header-old .HeaderMenu .HeaderMenu-link:focus {
    color: #4078C0 !important;
}

/* Menubar notification styles */
.Header-old .notification-indicator {
	color: #555 !important;
}

.Header-old .notification-indicator .mail-status {
    border-color: #F3F3F3 !important;
}

/* Menubar search styles */
.Header-old .header-search {
    font-size: 14px !important;
}

.Header-old .form-control.header-search-wrapper {
    line-height: 21px !important;
}

.Header-old .header-search-scope {
    font-size: 12px !important;
    line-height: 20px !important;
    color: #767676 !important;
    border-right-color: #EEE !important;
}

.Header-old .header-search-wrapper {
    min-height: 0 !important;
    font-size: 14px !important;
    color: #333 !important;
    background-color: #FFF !important;
    border: 1px solid #DDD !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075) !important;
}

.Header-old .header-search-wrapper.focus {
    background-color: #FFF !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5) !important;
    border-color: #51A7E8 !important;
}

.Header-old .header-search-wrapper.focus .header-search-scope {
    color: #4078C0 !important;
    background-color: #EDF2F9 !important;
    border-right-color: #C6D7EC !important;
}

.Header-old .header-search-input {
    min-height: 26px !important;
    font-size: 14px !important;
    color: #333 !important;
}

.Header-old .header-search-input::-webkit-input-placeholder {
    color: #999 !important;
}

.Header-old .header-search-input::-moz-placeholder {
    color: #999 !important;
}

.Header-old .header-search-input:-ms-input-placeholder {
    color: #999 !important;
}

.Header-old .header-search-input::placeholder {
    color: #999 !important;
}
